{% extends 'SiteBundle::layout.html.twig' %}

{% block title %}{% endblock %}
{#
{% block stylesheets %}
    {% stylesheets filter='cssrewrite' 'bundles/nantarenanews/css/*' %}
    <link href="{{ asset_url }}"  rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}
#}
{% block body %}
    <p>Quem Somos</p>
{% endblock %}
