<ul class="nav navbar-nav">
	<li class="{% if app.request.attributes.get('_route') == 'home' %}active{% endif %}"><a href="{{ path('home') }}">{{ 'site.menu.home'|trans }}</a></li>
	<li class="{% if app.request.attributes.get('_route') == 'who-we-are' %}active{% endif %}"><a href="{{ path('who-we-are') }}">{{ 'site.menu.whoarewe'|trans }}</a></li>
	<li><a href="#forum">Forum</a></li>
	<li><a href="#materials">Materiais</a></li>
</ul>